name: Rails Api GCP Cloud Run Deploy

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Name for manual trigger'
        required: true
        default: "Manual Trigger"
  push:
    branches: [ main ]
    paths:
      - 'rails_todo_api/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'rails_todo_api/**'

env:
  REGISTRY: us-central1-docker.pkg.dev
  IMAGE_NAME: us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_APP_NAME }}/rails.todo.api

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./rails_todo_api

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - uses: actions/checkout@v4

    - id: 'auth'
      name: "Authenticate Google Cloud"
      uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: 'projects/731679007643/locations/global/workloadIdentityPools/github-actions/providers/rails-todo-identity-pool-github'
        service_account: github-actions@rails-todo-app-386721.iam.gserviceaccount.com

    - name: Configure Google Cloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Configure Docker
      run: gcloud auth configure-docker --quiet $REGISTRY

    - name: Token Replacement
      uses: receiptably/variable-substitution@v1
      with:
        files: '**/app/resources/appsettings.json'
      env:
        "GCP.ProjectId": ${{ secrets.GCP_PROJECT_ID }}

    - name: Build Docker Image
      run: docker build -f ./Dockerfile.rails -t $IMAGE_NAME .

    - name: Push Docker Image
      run: docker push $IMAGE_NAME

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./rails_todo_api

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - uses: actions/checkout@v4

    - id: 'auth'
      name: "Authenticate Google Cloud"
      uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: 'projects/731679007643/locations/global/workloadIdentityPools/github-actions/providers/rails-todo-identity-pool-github'
        service_account: github-actions@rails-todo-app-386721.iam.gserviceaccount.com

    - name: Configure Google Cloud
      uses: google-github-actions/setup-gcloud@v2

    - name: Deploy Docker Image
      run: gcloud run deploy rails-todo-api --image $IMAGE_NAME --region us-central1 --platform managed --port 8080